version: '3.7'
services:
  puter:
    image: ghcr.io/heyputer/puter:v2.5.1
    container_name: puter
    restart: unless-stopped
    ports:
      - "4100:4100"
    environment:
      PUID: ${PUID:-1000}
      PGID: ${PGID:-1000}
    volumes:
      - ${APP_DATA_DIR}/config:/etc/puter
      - ${APP_DATA_DIR}/data:/var/puter
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"

networks:
  tipi_main_network:
    external: true
