version: '3.7'
services:
  mailpit:
    image: axllent/mailpit:v1.27.10
    container_name: mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"
    environment:
      MP_MAX_MESSAGES: ${MP_MAX_MESSAGES:-5000}
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: ${MP_SMTP_AUTH_ACCEPT_ANY:-1}
      MP_SMTP_AUTH_ALLOW_INSECURE: ${MP_SMTP_AUTH_ALLOW_INSECURE:-1}
    volumes:
      - ${APP_DATA_DIR}/data/mailpit:/data
    networks:
      - tipi_main_network
    labels:
      traefik.enable: true
      traefik.http.middlewares.mailpit-web-redirect.redirectscheme.scheme: https
      traefik.http.services.mailpit.loadbalancer.server.port: 8025
      traefik.http.routers.mailpit-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.mailpit-insecure.entrypoints: web
      traefik.http.routers.mailpit-insecure.service: mailpit
      traefik.http.routers.mailpit-insecure.middlewares: mailpit-web-redirect
      traefik.http.routers.mailpit.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.mailpit.entrypoints: websecure
      traefik.http.routers.mailpit.service: mailpit
      traefik.http.routers.mailpit.tls.certresolver: myresolver
      traefik.http.routers.mailpit-local-insecure.rule: Host(`mailpit.${LOCAL_DOMAIN}`)
      traefik.http.routers.mailpit-local-insecure.entrypoints: web
      traefik.http.routers.mailpit-local-insecure.service: mailpit
      traefik.http.routers.mailpit-local-insecure.middlewares: mailpit-web-redirect
      traefik.http.routers.mailpit-local.rule: Host(`mailpit.${LOCAL_DOMAIN}`)
      traefik.http.routers.mailpit-local.entrypoints: websecure
      traefik.http.routers.mailpit-local.service: mailpit
      traefik.http.routers.mailpit-local.tls: true
      runtipi.managed: "true"

networks:
  tipi_main_network:
    external: true
