version: '3.7'
services:
  traccar:
    image: traccar/traccar:6.7.3
    container_name: traccar
    restart: unless-stopped
    ports:
      - "8082:8082"
      - "5000-5150:5000-5150"
      - "5000-5150:5000-5150/udp"
    volumes:
      - ${APP_DATA_DIR}/logs:/opt/traccar/logs
      - ${APP_DATA_DIR}/data:/opt/traccar/data
      - ${APP_DATA_DIR}/config/traccar.xml:/opt/traccar/conf/traccar.xml:ro
    networks:
      - tipi_main_network
    labels:
      traefik.enable: true
      traefik.http.middlewares.traccar-web-redirect.redirectscheme.scheme: https
      traefik.http.services.traccar.loadbalancer.server.port: 8082
      traefik.http.routers.traccar-insecure.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.traccar-insecure.entrypoints: web
      traefik.http.routers.traccar-insecure.service: traccar
      traefik.http.routers.traccar-insecure.middlewares: traccar-web-redirect
      traefik.http.routers.traccar.rule: Host(`${APP_DOMAIN}`)
      traefik.http.routers.traccar.entrypoints: websecure
      traefik.http.routers.traccar.service: traccar
      traefik.http.routers.traccar.tls.certresolver: myresolver
      traefik.http.routers.traccar-local-insecure.rule: Host(`traccar.${LOCAL_DOMAIN}`)
      traefik.http.routers.traccar-local-insecure.entrypoints: web
      traefik.http.routers.traccar-local-insecure.service: traccar
      traefik.http.routers.traccar-local-insecure.middlewares: traccar-web-redirect
      traefik.http.routers.traccar-local.rule: Host(`traccar.${LOCAL_DOMAIN}`)
      traefik.http.routers.traccar-local.entrypoints: websecure
      traefik.http.routers.traccar-local.service: traccar
      traefik.http.routers.traccar-local.tls: true
      runtipi.managed: "true"

networks:
  tipi_main_network:
    external: true
